/*INITIAL STYLING*/
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* colors*/
:root {
	--white: #FFFFFF;
	--lightest: #B8C3F1;
	--lightest2: #AFBBEE;
	--light: #7C8ED5;
	--mid: #281DA8;
	--dark: #070860;
	--red: #D57C7C;
	--orange: #D5A97C;
	--yellow: #D5CE7C;
	--green: #BDD57C;
	--blue: #7CC0D5;
	--purple: #BA7CD5;
}

/* portrait & landscape */

/* headings */
h1 {
	font-family: kepler-std, serif;
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase;
	font-size: 1.4rem;
	margin: 0;
	color: var(--mid);
}

h2 {
	font-family: proxima-nova, sans-serif;
	font-weight: 400;
	font-style: normal;
	text-transform: uppercase;
	font-size: .75rem; /* 12px */
	color: var(--dark);
}

h3 {
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: .625rem; /* 10px */
	color: var(--mid);
}

h4, #submit {
	font-family: proxima-nova, sans-serif;
	font-weight: 500;
	font-style: normal;
	text-transform: uppercase;
	font-size: 1.15rem;
	color: var(--white);
}

label {
	font-family: proxima-nova, sans-serif;
	font-weight: 500;
	font-style: normal;
	text-transform: uppercase;
	font-size: .75rem;
	color: var(--white);
}


p, input, textarea {
	font-family: ballinger, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: .6875rem; /* 11px */
	color: var(--dark);
}

/* background and scroll */
main {
	background-image: url(img/background.svg);
	background-color: var(--lightest);
	background-size: cover;
	background-position: center;
	background-repeat: repeat-y;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	display: flex;
	align-content: center;
	justify-content: center;
}

/* header */
.header {
	width: 100%;
	display: grid;
	position: fixed;
	transition: 0.2s;
}

.today {
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 1rem .75rem;
}

.today h2 {
	padding-top: .1rem;
}

.top-logo {
	justify-self: center;
	width: 25%;
}

/* add modal */
#add-modal {
	display: none;
	background-color: var(--light);
	width: 90%;
	height: 80%;
	justify-self: center;
	z-index: 2;
	position: absolute;
	top: 12%;
	border-radius: 15px;
	box-shadow: rgba(0, 0, 0, 0.089) 4px 3px 3px;
}

#modal-x {
	width: 15%;
	height: auto;
	z-index: 1;
	position: absolute;
	top: -2%;
	right: -4%;
}

.form-wrapper {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

form {
	width: 100%;
	height: 90%;
	padding-top: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

form input, form textarea {
	border: none;
	border-radius: 8px;
	height: 5%;
	width: 100%;
	padding: .3rem;
	margin: .25rem 0 .75rem;
	box-shadow: rgba(0, 0, 0, 0.062) 3px 2px 2px;
}
#taskTitle {
	height: 10%;
}
.date-time-color {
	height: 25%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.date-time {
	display: flex;
	justify-content: flex-start;
}

.date-time > * {
	padding-right: 4rem;
}
#taskDate, #taskTime {
	height: 25%;
	width: 100%;
}

input[type="radio"] {
	opacity: 0;
	position: fixed;
	width: 0;
}

.color-radio label {
    display: inline-block;
	background-color: #ddd;
	border-radius: 8px;
	height: 1.8rem;
	width: 1.8rem;
	margin-right: .3rem;
	box-shadow: rgba(0, 0, 0, 0.062) 3px 2px 2px;
}

#redL {
	background-color: var(--red);
}
#orangeL {
	background-color: var(--orange);
}
#yellowL {
	background-color: var(--yellow);
}
#greenL {
	background-color: var(--green);
}
#blueL {
	background-color: var(--blue);
}
#purpleL {
	background-color: var(--purple);
}

.color-radio input[type="radio"]:checked + label {
    border: 5px solid var(--dark);
}

#taskDetails {
	height: 20%;
}

.submit-wrapper {
	margin-top: 1rem;
	display: flex;
	width: 100%;
	justify-content: center;
}

#submit {
	background-color: var(--dark);
	padding: .7rem;
	width: 60%;
	height: auto;
	font-weight: 600;
	box-shadow: rgba(0, 0, 0, 0.068) 4px 3px 3px;
}

/* add button */
.add {
	position: fixed;
	z-index: 1;
	border: none;
	width: 4.25rem;
	height: 4.25rem;
	background-color: transparent;
}

/* main content */
.main-content {
	width: 100%;
	display: grid;
	height: 100%;
	margin-top: 12rem;
}
.task {
	width: 90%;
	height: max-content;
	background-color: var(--white);
	border-radius: 8px;
	display: grid;
	grid-template-columns: .075fr 1fr .1fr .15fr;
	box-shadow: rgba(0, 0, 0, 0.089) 4px 3px 3px;
	margin-bottom: .5rem;
	justify-self: center;
}
.color {
	background-color: var(--red);
	height: 100%;
	border-radius: 8px 0 0 8px;
}
.task p {
	padding: .75rem .5rem .75rem 1.5rem;
	align-self: center;
}

.task h3 {
	padding-right: .5rem;
	padding-top: .75rem;
	padding-bottom: 1.5rem;
	align-self: flex-start;
}

.checkbox {
	width: 1.4rem;
	height: 1.4rem;
	background-color: unset;
	border: 4px solid var(--dark);
	border-radius: 4px;
	align-self: center;
}

/* check */

/* .checkimg {
	width: 220%;
	height: auto;
	transform: translate(0px, -14px);
	display: none;
} */

/* date separators */
.task-date-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: .5rem .75rem;
}
.task-date-container h1 {
	font-size: .9rem;
}
.task-date-container h2 {
	font-size: .6rem;
}

/* PORTRAIT */
@media only screen and (orientation:portrait) {
	.add {
		bottom: 3.5%;
		right: 3.5%;
	}
	.top-logo {
		justify-self: center;
		width: 25%;
	}
} 

/* LANDSCAPE */
@media only screen and (orientation:landscape) {
	.add {
		bottom: 1.8%;
		right: 1.8%;
	}
	.top-logo {
		justify-self: center;
		width: 12%;
		margin-top: -1.5rem;
	}
	#add-modal {
		display: none;
		background-color: var(--light);
		width: 90%;
		height: 85%;
		justify-self: center;
		z-index: 2;
		position: absolute;
		top: 12%;
		border-radius: 15px;
		box-shadow: rgba(0, 0, 0, 0.089) 4px 3px 3px;
	}
	#modal-x {
		width: 7%;
		height: auto;
		z-index: 1;
		position: absolute;
		top: -3%;
		right: -2.5%;
	}
	form {
		width: 95%;
		height: 85%;
		padding-top: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.date-time-color {
		height: auto;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.date-time {
		width: 50%;
		display: flex;
		justify-content: space-between;
	}
	
	.date-time > * {
		padding-right: 0;
	}

	#taskDate, #taskTime {
		height: 10%;
		width: 100%;
	}
	.task h3 {
		padding: .75rem .75rem 0;
		align-self: flex-start;
	}
	.main-content {
		width: 100%;
		display: grid;
		height: 100%;
		margin-top: 10rem;
	}
	.task {
		justify-self: center;
	}
} 
